header{
    width: 100%;
    background:linear-gradient(rgba(0, 0, 0, 0.288),
    rgba(0, 0, 0, 0.384)),url("../img/img-header.jpg")center center/cover fixed no-repeat;
    min-height: 100vh;
    z-index: 1;
    h1{
        font-size: 70px;
    }
}
