.sec-project{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:0;
    margin:0;
    .div-project{
        h2{
            font-size: 100px;
        }
        height: 100%;
       
        .project{
            min-height: 500px;
            background: #000;
            min-width: 300px;
            max-width: 350px;
            border: 2px solid transparent;
            .text-projetct{
                bottom: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 100%;
            }
        }
        .project:hover{
            border: 2px solid var(--destaque);
            
            box-shadow: var(--shadow);
            h3,p{
                color: white;
            }
        }
        button{
            margin-top: 40px;
        }
    }
}

