@font-face {
    font-family: "Kashima";
    src: url(fonts/Kashima_Demo.otf);
}
:root{
   
}
.dark-mode{
    --title-color:#f7f7f7;
    --header: #222222;
    --bs-body-bg:#111111;
    --color-font:#e9e9e9;
    --linhas:#ffffff31;
    --destaque:#1ab354;
    --box:#9e1529;
    --shadow:0px 0px 44px -3px #1ab354;
    --color-hover:white;
}
.light-mode{
    --header: linear-gradient(to bottom, #ffffff, #bababa);
    --title-color:#161616;
    --bs-body-bg:#bababa;
    --color-font:#4c4c4c;
    --linhas:#7a7a7a;
    --destaque:#d30726;
    --box:#9e1529;
    --shadow:0px 0px 44px -3px rgba(211,7,38,0.57);
    --color-hover:white;
}