* {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.linha {
  border-left: 1.5px solid var(--linhas);
  border-right: 1.5px solid var(--linhas);
}

#body {
  background: var(--bs-body-bg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
}

p {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Kashima', sans-serif;
}

button {
  border: 1px solid var(--destaque);
  background: transparent;
  width: 150px;
  height: 40px;
  color: var(--destaque);
  border-radius: 2px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

button:hover {
  background: var(--destaque);
  color: white;
  -webkit-box-shadow: 0px 0px 44px -3px rgba(211, 7, 38, 0.57);
          box-shadow: 0px 0px 44px -3px rgba(211, 7, 38, 0.57);
}

.circle {
  width: 300px;
  height: 300px;
  background: var(--destaque);
  mix-blend-mode: multiply;
  opacity: 0.8;
  border-radius: 50%;
  z-index: 2;
  -webkit-box-shadow: 0px 0px 44px -3px rgba(211, 7, 38, 0.57);
          box-shadow: 0px 0px 44px -3px rgba(211, 7, 38, 0.57);
}

.box-kanji {
  z-index: 0;
}

.box-kanji .kanji {
  font-size: 100px;
  font-weight: 800;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 120px;
  color: rgba(107, 107, 107, 0.267);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav {
  border-bottom: 1.5px solid var(--linhas);
}

nav ul li {
  z-index: 1;
  color: black;
}

nav ul li a:hover {
  color: var(--destaque) !important;
  border-bottom: 1px solid var(--destaque);
}

@font-face {
  font-family: "Kashima";
  src: url(fonts/Kashima_Demo.otf);
}

:root {
  --header: linear-gradient(to bottom, #ffffff, #bababa);
  --bs-body-bg:#bababa;
  --color-font:#4c4c4c;
  --linhas:#7a7a7a;
  --destaque:#d30726;
}

header {
  width: 100%;
  background: var(--header);
  height: 100vh;
  z-index: 1;
}

header h1 {
  font-size: 70px;
}

header img {
  width: 400px;
  -webkit-filter: saturate(0);
          filter: saturate(0);
}

header .img-container-header {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 0;
}

#sobre {
  height: 100vh;
  width: 100%;
}

#sobre img {
  width: 400px;
  -webkit-filter: saturate(0);
          filter: saturate(0);
}

#sobre h2 {
  font-size: 70px;
}

#sobre ul {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  gap: 10px;
}

#sobre .social {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  border-radius: 50%;
}
/*# sourceMappingURL=main.css.map */