*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  font-size: 62.5%;
  --text-white:white;
}
body{
  width: 100%;
  min-height: 100vh;
  background: #000;
}
.alinhamento{
  max-width: 1200px;
  width: 100%;
  margin-inline:auto ;
  padding-inline: 2%;
}